<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>欢迎使用</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css" />
    <meta charset="UTF-8">
</head>
<body>
<h1 class="text-center">欢迎使用</h1>

<table class="table table-hover">
    <tr>
       <th>序号</th>
       <th>内容</th>
    </tr>
    <tr>
        <td class="active">1</td>
        <td class="success"><a href="/applet/polymer/findFansAll" target="_blank">查询无限极粉丝销售</a></td>
    </tr>
    <tr>
        <td class="active">2</td>
        <td class="success"><a href="/applet/polymer/findFansAllNum" target="_blank">查询无限极粉丝数</a></td>
    </tr>
    <tr>
        <td class="active">3</td>
        <td class="success"><a href="/applet/polymer/totalGold" target="_blank">查询金币使用情况</a></td>
    </tr>


</table>
</body>
<script>
    $(document).ready(function(){
        $("#my_submit").click(function(){
            $(function(){
                //请求参数
                var list = {};
                //
                $.ajax({
                    //请求方式
                    type : "GET",
                    //请求的媒体类型

                    contentType: "json",
                    //请求地址
                    url : "/updateUserType",
                    //数据，json字符串
                    data :"userCode="+$("#exampleInputEmail1").val()+"&userType="+$("#selArea").select().val(),
                    //请求成功
                    success : function(result) {
                        alert(result.message);
                    },
                    //请求失败，包含具体的错误信息
                    error : function(e){
                        console.log(e.status);
                        console.log(e.responseText);
                    }
                });
            });
        });
    });




</script>

</html>